* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(/img/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
    

}

.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    /* border: solid red; */
}


.speakers {
    margin-top: 60px;
}

.speakers h2 {
    font-size: 64px;
    text-align: center;
    color: #AFA76D;
}

.target-spk {
    width: 570px;
    height: 350px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    margin-top: 60px;
    display: flex;
}

.speakers .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}
.foto-conf {
    width:50%;
    /* height: 100%; */
    max-width: 570px;
    /* border: solid red; */
}
.foto-conf img {
    width: 80%;
    height: 80%;
}

.info-conf {
    /* border: solid green; */
    width: 50%;
    color: #AFA76D;
    padding: 20px;
    font-size: 18px;
    
    
}

.info-conf > p {
    margin-bottom: 20px;
}

.info-conf h3 {
    text-align: center;
    margin-bottom: 15px;
     
} 

.info-conf img {
    width: 30px;
    color: #AFA76D;


    
    
}
.info-conf h4 {
    text-align: center;
    margin-bottom: 15px;
}
.info-conf span {
    text-align: center;
}
.redes {
    display: flex;
    justify-content: center;
    
}

@media only screen and (max-width: 1024px) {
    .speakers .contenedor {
        /* border: solid red; */
        
    }
    .target-spk {
        /* border: solid white; */
        align-items: center;
       
        
    }
  
 
    
    
}

@media only screen and (max-width: 1440px) {
    .speakers .contenedor {
       
    }
   
    }
@media only screen and (max-width: 768px){
    .speakers .contenedor {
       /* margin: auto;    */
       /* border: solid black; */
       justify-content: center;
       
    }
    .target-spk {
        /* margin: auto; */
        /* border: solid white; */
        align-items: center;
        
    }
    
}

@media only screen and (max-width: 425px) {
    .speakers h2 {
        font-size: 48px;
    }
    .target-spk {
        width: 100%;
        height: auto;
        /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
        /* margin-top: 60px; */
        /* display: flex; */
        border: solid yellow;
        display: inline-block;
    }
    .foto-conf {
        width:100%;
        /* height: 100%; */
        /* max-width: 570px; */
        border: solid red;
       
    }
    .foto-conf img {
        width: 100%;
        height: 100%; 
        border: solid white;
        
        
    }
    
    .info-conf {
        border: solid green;
        /* height: */
        width: 100%;
        /* color: #AFA76D; */
        /* padding: 20px; */
        /* font-size: 18px; */
    }
    .contenedor {
        
       
        /* max-width: 1200px; */
        margin: auto;
        border: solid red;
    }
}
 

@media only screen and (max-width: 320px) {
    
    
}