* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(/images/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
    

}

.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    /* border: solid red; */
}
.container {
    width: 100%;
    /* */
}

/* HEADER */

header {
    width: 100%;
    padding-top: 10px;
    height: 130px;
    /* margin-top: 20px; */
    
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* border: solid red; */
    /* padding: 10px 80px; */
    /* background-color: rgba(209, 219, 189, 0.15); */
    background-color:#6F1295;
}



header .container {
    display: flex;
   
    /* align-items: center; */
}

.logo img {
    width: 150px;
    display: block;
    margin: auto;
}

.menu-icon {
    display: none;
}
.logo-nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.menu {
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* max-width: 600px; */
    /* justify-content: space-between; */
    /* border: solid blue; */
}
.menu ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
}
.menu ul li a:hover {
    background: #231699;
    border-radius: 5px;
}

.menu a {
    text-decoration: none;
    color: #AFA76D;
    /* font-size: 1.2em; */
    /* margin-left: 20px; */
    /* padding: 0.5rem 1rem; */
    /* transition: all 0.4s linear; */
    /* border-radius: 5px; */
    list-style: none;
}
/* /* .menu a:hover {
    background: #5E688E; */
} */

/* BANNER */

.banner {
    /* border: solid orange; */
    width: 100%;
    height: 600px; 
    margin-top: 100px;
    /* padding-top: 20px; */
   
}

.banner > div {
width: 100%;
height: 100%;
/* background-color: rgba(209, 219, 189, 0.15); */
/* border: solid red; */

}
.inf {
    margin-top: 40px;
}

.main-event {
    font-family:'Source Sans Pro', sans-serif;
    text-align: center;
    color: #AFA76D;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
    
}

.main-event p {
    font-size: 48px;
    font-weight: bold;
}

.main-event p:nth-child(1) {
    margin-bottom: 40px;
}

.main-event h1 {
    font-size: 96px;
    margin-bottom: 50px;
}
h2 {
    font-size: 64px;
    text-align: center;
    color: #AFA76D;
}



/* .inf .contenedor {
    display: flex;
} */


/* INFORMACION EVENTO */

.contenedor .foto-evento {
    
}
.inf > .contenedor {
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin-top: 40px;
}
.foto-evento {
    width: 100%;
    max-width: 500px;
    /* border: solid yellow; */
    /* background-color: rgba(0, 0, 0, 0.25); */
}
.foto-evento img {
    width: 100%;
    height: 100%;
    
}
.inf-evento {
    font-size: 20px;
    line-height: 1.5em;
    color: #AFA76D;
    /* border: solid pink; */
    width: 600px;
    padding: 20px 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}
.inf-evento h3 {
    text-align: center;
    margin-bottom: 20px;
}

/* AGENDA */

.agenda {
    margin-top: 100px;
    margin-bottom: 60px;
}

.first-day {
    max-width: 600px;
    width: 100%;
    height: 60px;
    background-color: rgb(116 , 19, 150);
    padding-left: 30px;
    padding-top: 15px;
    
}
.second-day {
    max-width: 600px;
    width: 100%;
    height: 60px;
    background-color: rgb(34 , 6, 144);
    padding-left: 30px;
    padding-top: 15px;
}
.date {
    
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    color: #AFA76D;
    align-items: center;
    margin-bottom: 20px;
    

}
.agenda h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #AFA76D;;
}
.agenda h2 {
    margin-bottom: 60px;
}
table {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    color: #AFA76D;
    border-collapse: collapse;
    
    
}
td, th {
    padding: 20px;
    border-bottom: solid 2px  #868050;
}
table td {
    width: 50px;
}
























/* SPEAKERS */

.speakers {
    margin-top: 100px;
}

.target-spk {
    width: 570px;
    height: 350px;
    /* border: solid white; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    margin-top: 60px;
    display: flex;
}

.speakers .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}
.foto-conf {
    width:50%;
    height: 100%;
    max-width: 570px;
    /* border: solid red; */
}
.foto-conf img {
    width: 80%;
    height: 80%;
}

.info-conf {
    /* border: solid green; */
    width: 50%;
    color: #AFA76D;
    padding: 20px;
    font-size: 18px;
    
    
}
.info-conf > p {
    margin-bottom: 20px;
}
.info-conf h3 {
    text-align: center;
    margin-bottom: 15px;
    
}

.info-conf img {
    width: 30px;
    color: #AFA76D;


    
    
}
.info-conf h4 {
    text-align: center;
    margin-bottom: 15px;
}
.info-conf span {
    text-align: center;
}
.redes {
    display: flex;
    justify-content: center;
    
}

/* SPONSORS */

.sponsors .container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    
}
.target-sponsor {
    width: 220px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.20);
    margin-bottom: 25px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.sponsors h2 {
    margin-bottom: 40px;
}
.target-sponsor img {

}
.target-sponsor p {
    margin-top: 10px;
    color: #AFA76D;
}

/* REGISTRO */

.register {
    margin-top: 100px;
    margin-bottom: 100px;
}

.register  .contenedor {
    max-width: 800px;
    width: 100%;
    height: 500px;
    background-color: rgba(95,15,148, 0.7);

}
.register-top {
    max-width: 800px;
    width: 100%;
    height: 350px;
    background-color:rgba(41, 16, 207, 0.534);
    text-align: center;
}
.register-top p {
    font-size: 24px;
    color: #AFA76D;
    text-align: center;
    padding-top: 70px;
   
}
.register-top .registro {
    width: 200px;
    height: 80px;
    border-radius: 7px;
    margin-top: 60px;
    font-size: 28px;
    font-weight: bold;
    color: #AFA76D;
    background-color: #13018D;   
}

.suscrib {
    margin-top: 30px;
    /* border: solid white;  */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
  
}
.suscrib .button {
    width: 100px;
    background-color: #13018D; 
    color: #AFA76D;
}

.suscrib input {
    width: 400px;
    height: 40px;
    background-color: #13018D; 
    color: #AFA76D;
    font-size: 16px;
    /* border: solid red; */
}

.register-bottom {
    text-align: center;
    font-size: 24px;
    color: #AFA76D;
    padding-top: 20px;
}




.target-sponsor img {
    width: 180px;
    
}

/* CONTACTO */

.contacto {
    /* margin-top: 60px; */
    /* margin-bottom: 40px; */
    /* border: solid orange; */
    max-width: 1200px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px 0 0;
    
}
.contacto .contenedor h2 {
    margin-bottom: 40px;
}

.main-contacto {
    color: #AFA76D;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.widget {
    width: 300px;
    height: 300px;
}

.widget-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #AFA76D;
    /* border: solid lightcoral; */
    height: 200px;
    
}


@media only screen and (max-width: 767px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .menu ul {
        display: none;
    }
    .menu ul.show{
        display: block;
    }
    .menu {
        width: 100%;
        margin-top: 1rem;
    }
    .menu ul li { 
        display: block;
        /* border: solid blue; */
    }
    .menu ul li a {
        display: block;
        padding: 0.5rem 0;
    }
    
    /* .menu a {
        /* display: block; */
    } */
}

@media (min-width: 768px) {
    /* .menu {
        border: solid red;
        color: white;
    } */
}
}

@media (max-width: 1024px) {
    
}