@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@400;600&display=swap');

:root {
  --primary-color: #a8071e;
  --secondary-color: #491cb6;
  --dark-color: #0f0420;
  --cian-color: #a4c5fe;
  --background-white: #fcfcfc;
}
